@model TestKursach2.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Деталі</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Назад до списку", "Index")
</p>
